.profile-image {
  height: 256px;
  width: 256px;
  position: relative;
}

.profile-image::before {
  content: '';
  display: block;
  background: url('/images/pattern.jpg');
  width: 200%;
  height: 100%;
  transform: translateX(-1rem);
  position: absolute;
  animation: keep-sliding 4s ease-in-out alternate infinite;
}

@keyframes keep-sliding {
  from {
    transform: translateX(-1rem);
  }
  to {
    transform: translateX(-50%);
  }
}

.image-container {
  border-radius: 50%;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(0, 0);
}